.side-area{
  position: fixed;
  width: 20rem;
  height: 100vh;
  background-color: #3D9970;
  .main {
    width:5rem;
    float: left;
    height: 100%;
    .icon {
      img {
        margin: 1rem .5rem 1rem .5rem;
        width: 60px;
        height: 60px;
        border-radius: 10px;
      }
    }
    .add-icon {
      margin: 1rem 1rem 0 1.4rem;
      color: #fff;
      font-size: 30px;
      //background-color: #378461;
      //border-radius: 25px;
    }
  }
  .sub {
    width: 15rem;
    float: left;
    height: 100%;
    .title {
      font-size: 30px;
      color: #f2f2f2;
      margin: 1.3rem 0rem 1rem 1rem;
    }
    &.enable {
      background-color: #3D9970;
    }
    &.disable {
      background-color: #f2f2f2;
    }

    .menu-area{
      margin: 1rem;
      ul {
        li{
          font-size: 15px;
          color: #fff;
          padding: .7rem;
          cursor:pointer;
          border-radius: 3px;
          &.select{
              background-color: #378461;
          }
          &:hover{
            background-color: #378461;
          }
        }

      }
    }
  }
}