.side-area{
  position: fixed;
  width: 20rem;
  height: 100vh;
  background-color: #3D9970;
  .main {
    width:5rem;
    float: left;
    height: 100%;
    .icon {
      img{
        margin: 1rem .5rem 1rem .5rem;
        width: 60px;
        height: 60px;
        border-radius: 10px;
      }
    }
  }
  .sub {
    width: 15rem;
    float: left;
    height: 100%;
    .title {
      font-size: 30px;
      color: #f2f2f2;
      margin: 1.3rem 0rem 1rem 1rem;
    }
    &.enable {
      background-color: #3D9970;
    }
    &.disable {
      background-color: #f2f2f2;
    }
  }
}